body {
    background-color: #141d2f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

main {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.search-container {
    background-color: #1e2a47;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    padding: 10px;
}

.search-container button {
    background-color: #0079ff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.search-container input{
    background: transparent;
    border: none;
    color: white;
    flex-grow: 1; /* Makes input stretch to fill space */
    outline: none;
}

.profile-container{
    background-color: #1e2a47;
    padding: 30px;
    box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    border-radius: 10px;
}

.profile-header{
    display: flex;
    align-items: center;
    gap: 15px;

}



.profile-header p{
    color: #dbe5ff;
}

.stats{
    background-color: #141d2f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;

}

.repo-list{
    margin-top: 15px;
}
.repo-list a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #141d2f;
    text-decoration: none; color: white;

}

.repo-list a:hover{
    color:white;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #141d2f;
}
.user-info{
    display: flex;
    flex-direction: column; /* Stack name, handle, bio vertically */
    justify-content: center;
}
